body {
    font-family: Times New Roman;
    background-color: Ivory;
}

h1  {
    font-family: Arial;
    color: olive;
    font-size: 1em;
    margin-bottom: .3em;
    text-align: left;
    }
.container{
   display:flex;
   justify-content:left;
   text-align: left;
   color: black;
}
img{
              width: 350px;
              float: left;
              margin-right:5px;
              }
.image
    {
      flex-basis:40%
    }
.text {
    font-size:25px;
    padding-left: 25px;
}
.contact-section{
    font-size:25px;
 }
    
table {
    margin: .3em;
    width: 290px;
  }
th {
  padding: .2em;
}

td {
  padding-left: .5em;
  padding-right: .5em;
  border: 1px solid #900;
  background-color: #ffc;
}

#trHeader {
  text-decoration: underline;
  color: #900;
}

.centerCell {
  text-align: center;
}
img:hover{
 color: #424242; 
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1.15);
  -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(2,2); /* Safari and Chrome */
}
footer {
            background-color: grey;
            font-size :25px;
            color: #fff;
            text-align: left;
            padding: 10px;
        }